<% include partials/header.ejs%>

<%blogs.forEach(function (blog) {%>
    <div class="container main">
        <h2><%=blog.title%> </h2>
        <img src="<%=blog.image%>">
        <%=blog.body%>
        <%=blog.created%>
    </div>
<%})%>
<% include partials/footer.ejs%>

